In [2]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

print(data)
print(type(data))

{'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'City': ['New York', 'San Francisco', 'Los Angeles']}
<class 'dict'>

In [4]:
data_frame = pd.DataFrame(data)
print(type(data_frame))
print(data_frame)

<class 'pandas.core.frame.DataFrame'>
      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

In [7]:
df = pd.DataFrame(data)

In [9]:
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

In [11]:
df.rename(columns={'Age' : 'edad'}, inplace=True)

In [12]:
print(df)

      Name  edad           City
0    Alice    25       New York
1      Bob    30  San Francisco
2  Charlie    35    Los Angeles