In [1]:
import pandas as pd

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

print(data)
print(type(data))

{'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35], 'City': ['New York', 'San Francisco', 'Los Angeles']}
<class 'dict'>

In [5]:
df = pd.DataFrame(data)

In [6]:
print(df)

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35    Los Angeles

In [7]:
df.rename(columns={'Age' : 'edad'}, inplace=True)

In [8]:
print(df)

      Name  edad           City
0    Alice    25       New York
1      Bob    30  San Francisco
2  Charlie    35    Los Angeles

In [9]:
df['Genero'] = ['Femenino', 'Masculino', 'Masculino']

In [10]:
print(df)

      Name  edad           City     Genero
0    Alice    25       New York   Femenino
1      Bob    30  San Francisco  Masculino
2  Charlie    35    Los Angeles  Masculino